{% extends "layout.html" %}
{% block content %}
    <h2>Altair Bar Graph</h2>
    <form method="post" action="{{ url_for('bar') }}">
        <p><label>X-axis:
            <select name="x_axis" id="x_axis">
                {% for op in x_options %}
                    {% if op == x_axis %}
                        <option selected="selected">{{ op }}</option>
                    {% else %}
                        <option>{{ op }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </label></p>
        <p><label>Target:
            <select name="target" id="target">
                {% for op in target_options %}
                    {% if op == target %}
                        <option selected="selected">{{ op }}</option>
                    {% else %}
                        <option>{{ op }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </label></p>
        <button type="submit" id="submit" name="submit">
            Generate Chart
        </button>
        <br class="clear">
    </form>
    <div id="altair-graph"></div>
    <div id="altair-text"></div>
    <script src="{{ url_for('static', filename='js/bar.js') }}"></script>
{% endblock %}
