<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>VisFromAPI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/colors.css') }}">
    <link rel="icon" href="/static/images/favicon.ico">
    <script src="https://cdn.jsdelivr.net/npm/vega@5.20.2"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@4.8.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6.0.0"></script>
    <script src="{{ url_for('static', filename='js/render.js') }}"></script>
</head>
<body>
<section>
    <header>
        <h1><a href="/">VisFromAPI</a></h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
    </nav>
    <article>
        <h2>Altair Graph via External API</h2>
        <form method="post" action="{{ url_for('home') }}">
            <p><label>X-axis:
                <select name="x_axis" id="x_axis">
                    {% for op in options %}
                        {% if op == x_axis %}
                            <option selected="selected">{{ op }}</option>
                        {% else %}
                            <option>{{ op }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </label></p>
            <p><label>Y-axis:
                <select name="y_axis" id="y_axis">
                    {% for op in options %}
                        {% if op == y_axis %}
                            <option selected="selected">{{ op }}</option>
                        {% else %}
                            <option>{{ op }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </label></p>
            <p><label>Target:
                <select name="target" id="target">
                    {% for op in options %}
                        {% if op == target %}
                            <option selected="selected">{{ op }}</option>
                        {% else %}
                            <option>{{ op }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </label></p>
            <button type="submit" id="submit" name="submit">
                Generate Chart
            </button>
            <br class="clear">
        </form>
        <div id="altair-graph"></div>
    </article>
    <footer><p>© 2022 Bloom Institute of Technology</p></footer>
</section>
</body>
</html>
